.card-title {
  font-size: 1.5em;
  color: white;
}
.card {
  background-color: #0d263b;
  margin: 1rem;
  padding: 2px;
  /* border: 1px solid black; */
  max-width: 300px;
  cursor: pointer;
}
.menu-layout {
  text-align: center;
  color: white;
}
