.card-title {
  font-size: 2em;
}
.card {
  background-color: #1e517b;
  margin: 3rem;
  /* padding: 2px; */
  /* border: 1px solid black; */
  max-width: 300px;
  cursor: pointer;
}
.menu-layout {
  text-align: center;
  color: white;
}
